.App-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.App-title {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}